




<h1><center>2. Built a dataframe of the *postal code of each neighborhood along with the borough, neighborhood,LATITUDE and LONGITUDE*!</center></h1>

 ### 1. import packages

In [17]:
import pandas as pd

### 1. Read previously stored dataframe from assignment 1

In [20]:
df_Toronto_city1 = pd.read_csv("df_Toronto_city.csv")
print('df_Toronto_city1.shape:',df_Toronto_city1.shape)
df_Toronto_city1.head(10)

df_Toronto_city1.shape: (103, 3)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

### 2. Read .csv file  that has the geographical coordinates of each postal code

In [21]:
df_geo_coord = pd.read_csv("Geospatial_Coordinates.csv") 
print('df_geo_coord .shape:',df_geo_coord .shape)
df_geo_coord.head()

df_geo_coord .shape: (103, 3)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### 2.1 Replace the column name and make identical to first column name of df_NY_city1 table

In [22]:
df_geo_coord=df_geo_coord.rename(columns={"Postal Code": "Postcode"})

df_geo_coord.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

### 3. Merge both dataframes based identical values of 'Postcode' column

In [23]:
merged_df = df_geo_coord.merge(df_Toronto_city1, how = 'inner', on = ['Postcode'])
print('merged_df .shape:',merged_df.shape)
merged_df.head(10)

merged_df .shape: (103, 5)

,Postcode,Latitude,Longitude,Borough,Neighbourhood
0,M1B,43.806686,-79.194353,Scarborough,"Rouge, Malvern"
1,M1C,43.784535,-79.160497,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae
5,M1J,43.744734,-79.239476,Scarborough,Scarborough Village
6,M1K,43.727929,-79.262029,Scarborough,"East Birchmount Park, Ionview, Kennedy Park"
7,M1L,43.711112,-79.284577,Scarborough,"Clairlea, Golden Mile, Oakridge"
8,M1M,43.716316,-79.239476,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West"
9,M1N,43.692657,-79.264848,Scarborough,"Birch Cliff, Cliffside West"

### 4. Re-arrange column names of merged dataframe to match with expected output

In [24]:
merged_df = merged_df[['Postcode','Borough','Neighbourhood','Latitude','Longitude']]
print('merged_df .shape:',merged_df.shape)
merged_df.head(10)

merged_df .shape: (103, 5)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
5,M1J,Scarborough,Scarborough Village,43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village West",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848

### 7. Save Your output dataset for next assignment and further use

In [26]:
merged_df.to_csv(r'~/Desktop/Github_projects/Segmenting-and-Clustering-Neighborhoods-in-NY-City/MERGED_Toronto_city.csv', index=False)