




<h1><center>1. Built a dataframe of the postal code of each neighborhood along with the    borough name and neighborhood name!</center></h1>

 ### 1. import packages

In [38]:
import pandas as pd

### 2. install packages to fetch table information from Wikipedia page

In [39]:
#!pip install lxml
#!pip install html5lib
!pip3 install lxml
!pip install beautifulsoup4

Requirement already satisfied: lxml in /Users/pravinkumarkandhare/anaconda3/envs/deeplearning/lib/python3.6/site-packages (4.4.0)
You are using pip version 18.0, however version 19.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: beautifulsoup4 in /Users/pravinkumarkandhare/anaconda3/envs/deeplearning/lib/python3.6/site-packages (4.8.0)
Requirement already satisfied: soupsieve>=1.2 in /Users/pravinkumarkandhare/anaconda3/envs/deeplearning/lib/python3.6/site-packages (from beautifulsoup4) (1.9.2)
You are using pip version 18.0, however version 19.2.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

### 3. Create panda dataframe to grab HTML table information

In [40]:
# read table and store into dataframe
df_Toronto_city = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

In [41]:
# display: Number of table rows and columns 
df_Toronto_city.shape

(288, 3)

In [42]:
# Print first 10 rows of dataframe
df_Toronto_city.head(10)

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights
7      M6A        North York    Lawrence Manor
8      M7A      Queen's Park      Not assigned
9      M8A      Not assigned      Not assigned

### 4. Drop rows whose Borough Column has "Not Assigned" values

In [43]:
#dataframe
df_Toronto_city = df_Toronto_city[df_Toronto_city.Borough != 'Not assigned']
df_Toronto_city.shape

(211, 3)

In [44]:
# Print first 10 rows of dataframe
df_Toronto_city.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

### 5. If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the            borough (check row number 8 in following table)

In [45]:
# dataframe
df_Toronto_city.Neighbourhood[df_Toronto_city.Neighbourhood == 'Not assigned'] = df_Toronto_city.Borough
df_Toronto_city.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

### 6. Group by ['Postcode','Borough'] variables and combine the neighborhoods separated with a comma

In [46]:
# dataframe holding output table
df_Toronto_city1 = df_Toronto_city.groupby(['Postcode','Borough'])['Neighbourhood'].agg([('Neighbourhood', ', '.join)]).reset_index()

In [47]:
# display: Number of table rows and columns 
df_Toronto_city1.shape

(103, 3)

In [48]:
# Print first 10 rows of dataframe
df_Toronto_city1.head(10)

  Postcode      Borough                                    Neighbourhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

### 7. Save Your output dataset for next assignment and further use

In [49]:
df_Toronto_city1.to_csv(r'~/Desktop/Github_projects/Segmenting-and-Clustering-Neighborhoods-in-NY-City/df_Toronto_city.csv', index=False)